<script type="text/ng-template" id="save_confirmation_template.html">
<div class="modal fade" id="saveChangesModal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content" style="width: 650px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3>Confirm Changes</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    Following is the commit message derived from the changes.
                </div>
                <textarea class="form-control" rows="4" ng-model="commitMessage"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveChanges($event)" data-loading-text="Updating Concept...">Confirm</button>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="reply_template.html">
    <div class="community-reply">
        <a href="#" class="pull-left">
            <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
        </a>
        <div class="reply-body">
            <div class="user">
                <div class="il-Link-clr ac-contents display-inline text-capitalize">{{reply.lastModifiedBy}}</div>
                <div>
                    <span class="timeDur moveTop8" style="">replied&nbsp;&nbsp;</span><span class="timeDur moveTop8" data-livestamp="{{reply.lastModifiedOn/1000}}"></span>
                </div>

            </div>
            <div class="wallText" ng-bind-html="reply.comment"></div>
            <a class="pull-right mar-rt-10" ng-click="reply.showForm=true;" ng-show="!reply.showForm"><i class="fa fa-reply"></i></a>
            <div class="marginTop10" ng-show="reply.showForm">
                <textarea class="textarea form-control" placeholder="Write your comment ..." style="width: 100%; min-height: 50px;" id="commentText{{reply.id}}"></textarea>
                <div class="save_text" style="border: 0px;">
                    <div class="save_btn">
                        <button class="btn btn-default btn-xs mar-rt-10" ng-click="reply.showForm=false;">Cancel</button>
                        <button class="btn btn-primary btn-xs" ng-click="replyComment(reply)">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="community-reply marginLeft20" ng-repeat="childReply in reply.replies">
        <a href="#" class="pull-left">
            <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
        </a>
        <div class="reply-body">
            <div class="user">
                <div class="il-Link-clr ac-contents display-inline text-capitalize">{{childReply.lastModifiedBy}}</div>
                <div>
                    <span class="timeDur moveTop8" style="">replied&nbsp;&nbsp;</span><span class="timeDur moveTop8" data-livestamp="{{childReply.lastModifiedOn/1000}}"></span>
                </div>

            </div>
            <div class="wallText" ng-bind-html="childReply.comment"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="audit_reply_template.html">
    <div class="community-reply">
        <a href="#" class="pull-left">
            <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
        </a>
        <div class="reply-body">
            <div class="user">
                <div class="il-Link-clr ac-contents display-inline text-capitalize">{{reply.lastModifiedBy}}</div>
                <div>
                    <span class="timeDur moveTop8" style="">replied&nbsp;&nbsp;</span><span class="timeDur moveTop8" data-livestamp="{{reply.lastModifiedOn/1000}}"></span>
                </div>

            </div>
            <div class="wallText" ng-bind-html="reply.comment"></div>
            <a class="pull-right mar-rt-10" ng-click="reply.showForm=true;" ng-show="!reply.showForm"><i class="fa fa-reply"></i></a>
            <div class="marginTop10" ng-show="reply.showForm">
                <textarea class="textarea form-control" placeholder="Write your comment ..." style="width: 100%; min-height: 50px;" id="auditTextArea{{reply.id}}"></textarea>
                <div class="save_text" style="border: 0px;">
                    <div class="save_btn">
                        <button class="btn btn-default btn-xs mar-rt-10" ng-click="reply.showForm=false;">Cancel</button>
                        <button class="btn btn-primary btn-xs" ng-click="auditCommentReply(reply)">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="community-reply marginLeft20" ng-repeat="childReply in reply.replies">
        <a href="#" class="pull-left">
            <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
        </a>
        <div class="reply-body">
            <div class="user">
                <div class="il-Link-clr ac-contents display-inline text-capitalize">{{childReply.lastModifiedBy}}</div>
                <div>
                    <span class="timeDur moveTop8" style="">replied&nbsp;&nbsp;</span><span class="timeDur moveTop8" data-livestamp="{{childReply.lastModifiedOn/1000}}"></span>
                </div>

            </div>
            <div class="wallText" ng-bind-html="childReply.comment"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="comments_template.html">
    <div class="modal fade" id="commentModal">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content" style="width: 650px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 class="noMargin">Comments</h3>
                </div>
                <div class="modal-body">

                    <div class="community-replies marginBottom10" ng-if="currentComment">
                        <div class="community-reply">
                            <a href="#" class="pull-left">
                                <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
                            </a>
                            <div class="reply-body">
                                <div class="user">
                                    <div class="il-Link-clr ac-contents display-inline text-capitalize">{{currentComment.lastModifiedBy}}</div>
                                    <div>
                                        <span class="timeDur moveTop8" style="">commented&nbsp;&nbsp;</span><span class="timeDur moveTop8" data-livestamp="{{currentComment.lastModifiedOn/1000}}"></span>
                                    </div>

                                </div>
                                <div class="wallText" ng-bind-html="currentComment.comment"></div>
                                <a class="pull-right mar-rt-10" ng-click="currentComment.showForm=true;" ng-show="!currentComment.showForm"><i class="fa fa-reply"></i></a>
                                <div class="marginTop10" ng-show="currentComment.showForm">
                                    <textarea class="textarea form-control" placeholder="Write your comment ..." style="width: 100%; min-height: 50px;" id="commentText{{currentComment.id}}"></textarea>
                                    <div class="save_text" style="border: 0px;">
                                        <div class="save_btn">
                                            <button class="btn btn-default btn-xs mar-rt-10" ng-click="currentComment.showForm=false;">Cancel</button>
                                            <button class="btn btn-primary btn-xs" ng-click="replyComment(currentComment)">Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="marginLeft20" ng-repeat="reply in currentComment.replies">
                        <div ng-include="'reply_template.html'"></div>
                    </div>
                    <div ng-show="showNewComment">
                        <textarea class="textarea form-control" placeholder="Write your comment ..." style="width: 100%; min-height: 50px;" id="newCommentTextArea"></textarea>
                        <div class="save_text" style="border: 0px;">
                            <div class="save_btn">
                                <button class="btn btn-primary btn-xs" ng-click="saveComment()">Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="audit_log_template.html">
    <div class="modal fade" id="auditLogModal">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content" style="width: 650px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 class="noMargin">Audit Logs</h3>
                </div>
                <div class="modal-body" ng-repeat = "commentObject in auditHistoryObjects" style = "padding : 0px; width: 95%; ">

                    <div class="community-replies marginBottom10" ng-if="commentObject.comment">
                        <div class="community-reply" style="margin-left: 4%;" >
                            <a href="#" class="pull-left">
                                <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
                            </a>
                            <div class="reply-body">
                                <div class="user">
                                    <div class="il-Link-clr ac-contents display-inline text-capitalize">{{commentObject.comment.lastModifiedBy}}</div>
                                    <div>
                                        <span class="timeDur moveTop8" style="">commented&nbsp;&nbsp;</span><span class="timeDur moveTop8" data-livestamp="{{commentObject.comment.lastModifiedOn/1000}}"></span>
                                    </div>
                                </div>
                                <div class="wallText" ng-bind-html="commentObject.comment.comment"></div>
                            </div>
                        </div>
                    </div>
                    <div id="reply{{commentObject.comment.id}}" class="collapse">
                        <div class="marginTop10 reply-body" style ="margin-top:-0.6%">
                                    <textarea class="textarea form-control" placeholder="Write your comment ..." style="width: 90%; min-height: 50px; margin-left: 11.5%;" id="auditTextArea{{commentObject.comment.id}}"></textarea>
                                    <div class="save_text" style="border: 0px; width: 94%; margin-left: 7.5%">
                                        <div class="save_btn">
                                            <!--
                                                <button class="btn btn-default btn-xs mar-rt-10" ng-click="commentObject.comment.showForm=false;">Cancel</button>
                                            -->
                                            <button class="btn btn-primary btn-xs" ng-click="auditCommentReply(commentObject.comment)">Comment</button>
                                        </div>
                                    </div>
                                </div>
                        <div class="marginLeft20" ng-repeat="reply in commentObject.comment.replies" style = "margin-left : 8%">
                        <div ng-include="'audit_reply_template.html'"></div>
                    </div>
                    </div>

                    <a class="collapse-Note-link collapsed" data-target="#reply{{commentObject.comment.id}}" data-toggle="collapse"  title="" data-placement="bottom" ng-click = "getCommentReplies(commentObject.comment);" style = "margin-left: 2%">
                        <i class="il-collapse"></i>
                    </a>
               </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="metadata_categories_template.html">
<div id="{{cat.id}}" class="col-md-12 noPad" ng-repeat="cat in categories track by $index">
    <form name="{{cat.id}}Form">
        <div class="panel panel-default">
            <div class="col-md-12">
                <div class="il-sc-header" role="tab">
                    <h2>{{cat.label}}</h2>
                </div>
                <div class="pull-right marginTop20">
                    <a href="#" ng-if="cat.editable" class="pull-right padRight10" ng-click="cat.editMode = true;openSection('collapseDiv'+cat.id);"><i class="fa fa-edit" ng-show="!cat.editMode"></i></a>
                    <a href="#" ng-if="cat.editable" class="pull-right padRight10" ng-click="cat.editMode = false;openSection('collapseDiv'+cat.id);"><i class="fa fa-close" ng-show="cat.editMode"></i></a>
                    <a href="#" ng-if="cat.id=='comments'" class="pull-right padRight10"><i class="fa fa-edit" ng-click="addComment();openSection('collapseDiv'+cat.id);"></i></a>
                    <a href="#" ng-if="cat.id=='versions'" class="pull-right padRight10"><i class="fa fa-edit" ng-click="addVersion();openSection('collapseDiv'+cat.id);"></i></a>
                </div>
            </div>
            <div class="panel-collapse collapse" ng-class="{ in : cat.id == 'general'}" role="tabpanel" ng-switch on="cat.id" id="collapseDiv{{cat.id}}">
                <div class="panel-body" ng-switch-when="tags">
                    <div class="col-md-12">
                        <span class="label label-default tag" ng-repeat="tag in selectedConcept.tags">
                            {{tag}}&nbsp;<a href="javascript:void(0)" ng-click="deleteTag(selectedConcept.tags, $index, tagForm)" ng-if="cat.editMode"><i class="fa fa-close"></i></a>
                        </span>
                        <div class="alert alert-info" ng-if="!selectedConcept.tags || selectedConcept.tags.length == 0">No tags found</div>
                    </div>
                    <div class="col-md-12 marginTop20" ng-show="cat.editMode">
                        <div class="row form-group marginTop20" ng-show="cat.addNew">
                            <div class="col-md-5">
                                <label>Tag Type</label>
                                <select ng-model="cat.newTagType" class="form-control">
                                    <option value="system">System Tag</option>
                                    <option value="custom">Custom Tag</option>
                                </select>
                            </div>
                            <div class="col-md-5" ng-if="cat.newTagType == 'system'">
                                <label>Value</label>
                                <select ng-model="cat.newTagValue" ng-options="tag.name for tag in getSystemTags()" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-5" ng-if="cat.newTagType != 'system'">
                                <label>Value</label>
                                <input type="text" ng-model="cat.newTagValue" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary btn-sm form-control" ng-click="addNewTag(cat)">Add</button>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" ng-show="!cat.addNew" ng-click="addNew(cat);">Add New Tag</button>
                    </div>
                </div>
                <div class="panel-body" ng-switch-when="comments">
                    <div ng-if="selectedConcept.comments.length == 0" class="col-md-12 text-center">
                        No comments found.
                    </div>
                    <div class="community-replies" ng-if="selectedConcept.comments.length > 0">
                        <div class="community-reply pointer" ng-repeat="comment in selectedConcept.comments" ng-click="showComment(comment)">
                            <a href="#" class="pull-left">
                                <img width="32" height="32" class="img-rounded media-object" ng-src="{{comment.author.image.url || '<%=contextPath%>/img/default.png'}}">
                            </a>
                            <div class="reply-body">
                                <div class="user">
                                    <div class="il-Link-clr ac-contents display-inline text-capitalize">{{comment.lastModifiedBy}}</div>
                                    <div>
                                        <span class="timeDur moveTop10" data-livestamp="{{comment.lastModifiedOn/1000}}"></span>
                                    </div>

                                </div>
                                <div class="wallText" ng-bind-html="comment.comment"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="RightsideContainer bs-docs-sidebar" ng-switch-when="relations">
                    <div class="col-md-12">
                        <!-- <table class="table table-striped table-bordered table-condensed">
                            <thead><tr><th>Start Node</th><th>Relation</th><th>End Node</th><th ng-if="cat.editMode"></th></tr></thead>
                            <tbody>
                                <tr ng-repeat="rel in selectedConcept.outRelations">
                                    <td>{{rel.startNodeName}}</td>
                                    <td>{{rel.relationType}}</td>
                                    <td>{{rel.endNodeName}}</td>
                                    <td ng-if="cat.editMode">
                                        <a href="#"><i class="fa fa-close"></i></a>
                                    </td>
                                </tr>
                                <tr ng-repeat="rel in selectedConcept.inRelations">
                                    <td>{{rel.startNodeName}}</td>
                                    <td>{{rel.relationType}}</td>
                                    <td>{{rel.endNodeName}}</td>
                                    <td ng-if="cat.editMode">
                                        <a href="#"><i class="fa fa-close"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="selectedConcept.outRelations.length == 0 && selectedConcept.inRelations.length == 0">
                                    <td colspan="4" class="text-center">
                                        No relations found
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->

                        <div class="col-md-6 recentContent" ng-repeat="(title, list) in selectedConcept.relations">
                            <label>{{title}}</label>
                            <div class="il-rt-notn">
                                <ul ng-if="list.length == 0">
                                    <li>
                                        <span style="">None</span>
                                    </li>
                                </ul>
                                <ul class="nav" ng-show="list.length > 0">
                                    <li ng-repeat="item in list" >
                                        <a href="javascript:void(0)" style="cursor: text;">{{item.name | limitTo: 30}}{{item.name.length > 30 ? '...' : ''}}</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-body form-group" ng-switch-default>
                    <div class="col-md-6 form-group {{(cat.editMode && prop.required) ? 'required' : ''}}" ng-repeat="prop in selectedTaxonomy.definitions[cat.id]" ng-if="prop.displayProperty != 'Hidden'">
                        <label class="control-label">{{prop.title}}</label>
                        <div ng-include="'prop_edit_template.html'" ng-if="cat.editMode && prop.displayProperty == 'Editable'"></div>
                        <div ng-include="'prop_read_template.html'" ng-if="!cat.editMode || prop.displayProperty == 'Readonly'"></div>
                    </div>
                    <div class="col-md-12" ng-show="cat.editMode">
                        <div class="row form-group marginTop20" ng-show="cat.addNew">
                            <div class="col-md-5">
                                <label>Name</label>
                                <input type="text" ng-model="cat.newMetadataName" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <label>Value</label>
                                <input type="text" ng-model="cat.newMetadataValue" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary btn-sm form-control" ng-click="addNewMetadata(cat)">Add</button>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" ng-show="!cat.addNew" ng-click="addNew(cat);">Add New</button>
                    </div>
                    <!-- <div class="col-md-12" ng-show="cat.id == 'audit'" ng-init="cat.auditHistory = false">
                        <a href="javascript:void(0)" ng-click="cat.auditHistory = true" ng-if="!cat.auditHistory" class="btn-link">
                            Show Audit History
                        </a>
                        <a href="javascript:void(0)" ng-click="cat.auditHistory = false" ng-if="cat.auditHistory" class="btn-link">
                            Hide Audit History
                        </a>


                        <div ng-if="selectedConcept.auditHistory.length == 0" class="col-md-12 text-center {{cat.auditHistory ? '' : 'hide'}}">
                            No audit history found.
                        </div>
                        <div class="community-replies {{cat.auditHistory ? '' : 'hide'}}" ng-if="selectedConcept.auditHistory.length > 0" >
                            <div class="community-reply pointer" ng-repeat="ah in selectedConcept.auditHistory" ng-click="showComment(ah.comment)">
                                <a href="#" class="pull-left">
                                    <img width="32" height="32" class="img-rounded media-object" ng-src="{{ah.author.image.url || '<%=contextPath%>/img/default.png'}}">
                                </a>
                                <div class="reply-body">
                                    <div class="user">
                                        <div class="il-Link-clr ac-contents display-inline">{{ah.lastModifiedBy}}</div>
                                        <div>
                                            <span class="timeDur moveTop10" data-livestamp="{{ah.lastModifiedOn/1000}}"></span>
                                        </div>

                                    </div>
                                    <div class="wallText" ng-bind-html="ah.comment.comment"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <a data-placement="bottom" title="" class="collapse-Note-link" ng-class="{collapsed : cat.id != 'general'}" data-toggle="collapse" data-target="#collapseDiv{{cat.id}}"><i class="il-collapse"></i></a>
        </div>
    </form>
</div>
<div class="col-md-12 padTop">
    <div class="alert alert-danger" ng-show="validationMessages.length > 0">
        Error saving the concept. Following are the failed validations
        <ul style="padding-left: 25px;list-style:disc outside none">
            <li ng-repeat="error in validationMessages">{{error}}</li>
        </ul>
    </div>
    <button class="btn btn-primary pull-right" ng-click="confirmChanges()">Save Changes</button>
    <a ng-click="showAllComments(selectedConcept.auditHistory)" class="pull-right marginRight5" style="margin-top: 10px; color: #c3c3c3;" ng-if="selectedConcept.auditHistory.length > 0"><span>last updated </span><span data-livestamp="{{selectedConcept.auditHistory[selectedConcept.auditHistory.length-1].lastModifiedOn/1000}}"></span><span> by </span><span class="text-capitalize">{{selectedConcept.auditHistory[selectedConcept.auditHistory.length-1].lastModifiedBy}}</span></a>
</div>
</script>

<script type="text/ng-template" id="prop_read_template.html">

<div ng-switch on="prop.dataType">
    <table class="table table-striped table-condensed" ng-switch-when="List">
        <tr ng-repeat="val in selectedConcept.metadata[prop.propertyName]"><td>{{val}}</td></tr>
        <tr ng-if="!selectedConcept.metadata[prop.propertyName] || selectedConcept.metadata[prop.propertyName].length == 0"><td>None</td></tr>
    </table>
    <table class="table table-striped table-condensed" ng-switch-when="Multi-Select">
        <tr ng-repeat="val in selectedConcept.metadata[prop.propertyName]"><td>{{val}}</td></tr>
        <tr ng-if="!selectedConcept.metadata[prop.propertyName] || selectedConcept.metadata[prop.propertyName].length == 0"><td>None</td></tr>
    </table>
    <span ng-switch-when="Date">{{selectedConcept.metadata[prop.propertyName] | date:'yyyy-MM-dd HH:mm'}}</span>
    <a ng-switch-when="URL" class="nextBtn" href="{{selectedConcept.metadata[prop.propertyName]}}" target="_blank">View</a>
    <span ng-switch-default>{{selectedConcept.metadata[prop.propertyName] || 'NA'}}</span>
</div>

</script>

<script type="text/ng-template" id="prop_edit_template.html">

<div ng-switch on="prop.dataType">
    <table class="table table-striped table-condensed" ng-switch-when="List">
        <tr ng-repeat="val in selectedConcept.metadata[prop.propertyName] track by $index">
            <td><input type="text" ng-model="selectedConcept.metadata[prop.propertyName][$index]" class="form-control"/></td>
            <td><a href="javascript:void(0)" ng-click="deleteListValue(prop.propertyName, $index,cat.id + 'Form')"><i class="fa fa-close"></i></a></td>
        </tr>
        <tfoot><tr><td><a href="javascript:void(0)" ng-click="addListValue(prop.propertyName)">Add <i class="fa fa-plus"></i></a></td></tr></tfoot>
    </table>
    <select ng-switch-when="Multi-Select" ng-model="selectedConcept.metadata[prop.propertyName]" ng-options="val for val in prop.range" class="form-control" multiple="true"></select>
    <select ng-switch-when="Select" ng-model="selectedConcept.metadata[prop.propertyName]" ng-options="val for val in prop.range" class="form-control"></select>
    <input ng-switch-when="Number" type="number" ng-model="selectedConcept.metadata[prop.propertyName]" class="form-control {{prop.error ? 'validation-error': ''}}" placeholder="{{prop.description}}"/>
    <input ng-switch-when="Text" type="text" ng-model="selectedConcept.metadata[prop.propertyName]" class="form-control {{prop.error ? 'validation-error': ''}}"  placeholder="{{prop.description}}"/>
    <input ng-switch-when="XML" type="text" ng-model="selectedConcept.metadata[prop.propertyName]" class="form-control {{prop.error ? 'validation-error': ''}}"  placeholder="{{prop.description}}"/>
    <div ng-switch-when="URL">
    <div class="col-md-12 noPad">
        Select File:
        <a class="nextBtn pull-right" ng-click="uploadFile(prop.propertyName)" ng-show="!selectedConcept.uploading[prop.propertyName]">Upload</a>
        <img src="/img/loading.gif" class="pull-right" ng-show="selectedConcept.uploading[prop.propertyName]" />
    </div>
    <div class="col-md-12 noPad"><input type="file" file-model="selectedConcept.filesToUpload[prop.propertyName]"/></div>
    <div class="col-md-12 noPad marTop5">
    <input type="text" ng-model="selectedConcept.metadata[prop.propertyName]" class="form-control {{prop.error ? 'validation-error': ''}}"  placeholder="or enter URL here"/>
    </div>
    </div>
</div>

</script>
